*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
   background:rebeccapurple ;
}
@font-face {
    font-family: 'Fullmetal';
    src: url(font/Staubach.ttf) format('truetype');
}
#Header{
    background: rgb(255, 0, 0);
    text-align: center;
    height: 80px;
    font-size: 40px;
}
#margin{
    margin: 0;
}
.parallax{
    background: url(img/Fullmental.gif);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
}
#parallax-inner{
    padding-top: 50%;
    padding-bottom: 50%;
}
#parallax-inner >h1{
    text-align: center;
    font-size: 400%;
    margin-top: -30px;
    color: white;
    letter-spacing: 10px;
    font-family: 'Fullmetal';
}
.Conte{
    border: 1px solid black;
    background: rgb(82, 80, 80);
    width: 550px;
    height: 2000px;
    margin: auto;
    margin-left: 80px;
    margin-top: -90px;
    border-radius: 25px;
}
.Conte > h1{
    text-align: center;
    font-size: 60px;
    color: red;
}
.Conte > p{
    color: white;
    font-size: 20px;
    text-align: justify;
    width: 500px;
    margin: auto;
}
.Conte > img{
    margin: auto;
    display: block;
    width: 300px;
    height: 450px;
}
h2{
    color: rgb(135, 135, 255);
    font-size: 22px;
    text-align: center;
}